// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$font-stack: 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Arial', sans-serif;

$primary-color: #043653 !default;
$secondary-color: #7887a0 !default;
$gray-color: #e1e3e9 !default;
$brown-color: #916877 !default;
$green-color: #778563 !default;
$cyan-color: #759f9a !default;
$orange-color: #b28159 !default;
$blue-color: #009ae2 !default;
$red-color: #be2232 !default;

$vk-color: #5179a1 !default;
$facebook-color: #3d5c97 !default;
$twitter-color: #2aa3ef !default;
$instagram-color: #d93175 !default;